<head>
    <link rel="stylesheet" href="/user/css/userLoginPage.css" />
    
  </head>
  <body>
    <div class="container loginPageOverrides">
      <section class="sign-in">
        <div class="container">
          <div class="signin-content">
            
  
            <div class="signin-form">
              <h2 class="form-title">Email</h2>
              <form
                action="/forgotpassword/otppage"
                class="register-form"
                id="login-form"
              >
              <div class="form-group">
                <input type="email"  name="userEmail" id="your_name" placeholder="Enter registered email" required/>
              </div>
              <% if(warning){%>
                <p style="color:black">User doesnot exists</p>  
              <%}%>
                <div class="form-group form-button">
                  <input
                    type="submit"
                    name="signin"
                    id="signin"
                    class="form-submit"
                    value="Proceed"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>