<head>
    <link rel="stylesheet" href="/user/css/userLoginPage.css" />
    
</head>
<body>
    <div class="container loginPageOverrides">
      <section class="sign-in">
        <div class="container">
          <div class="signin-content">
            
  
            <div class="signin-form">
              <h2 class="form-title">NewPassword</h2>
              <form
                action="/forgotpassword/passwordupdation"
                method="POST"
                class="register-form"
                id="login-form"
              >
              <div class="form-group">
                <input type="text"  name="password" id="your_name" placeholder="Enter new passoword" required/>
              </div>
              <input type="hidden"  name="userEmail" value="<%= userEmail %>"/>
                <div class="form-group form-button">
                  <input
                    type="submit"
                    name="signin"
                    id="signin"
                    class="form-submit"
                    value="Proceed"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
</body>